*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #ffffff;
    height: 1000px;
    width: 100%;
}
.bg-imgs{
    background-image: url(cta-bg.jpg);
}
.bg-imgs-2{
    background-image: url(cta-bg.jpg);
}